{% set page_title = "Homepage Template Title" %}
{% set page_sub_title = "Homepage Template Subtitle" %}
{% set page_keywords = "Homepage, template, keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "german/contact.html" %}
{% set page_active_navigation = "Contact" %}
{% set page_en = "contact.html" %}
{% extends "./layouts/de/content-layout.njk" %}
{% block scripts %}
  <script src="/scripts/mibreit-contact/contact.js"></script>
{% endblock %}
{% block content %}
  <h2>Kontakt</h2>
  <p>Wenn Sie Fragen zu meinen Bildern oder meiner Homepage haben oder mir einfach eine Nachricht schicken wollen, können Sie das Formular ausfüllen oder eine Email an {{page_email | replace("@", "{at}")}} schreiben.</p>
  <form id="contact" class="contact-sheet" name="contact-sheet" method="post" autocomplete="off" action="/scripts/mibreit-contact/mibreit-email.php">
    <table>
      <tr>
        <td class="contact-sheet__left"><label for="myemail">Meine Email:</label></td>
        <td class="contact-sheet__right">
          <input id="myemail" name="myemail" type="text" disabled="disabled" value="{{page_email | replace("@", "{at}")}}" readonly="readonly" class="fluid"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left"><label for="email">Ihre Email:</label></td>
        <td class="contact-sheet__right">
          <input id="email" name="email" type="text" class="fluid" spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left"><label for="homepage">Ihre Homepage:</label></td>
        <td class="contact-sheet__right">
          <input id="homepage" name="homepage" type="text" class="fluid" spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left"><label for="subject">Betreff:</label></td>
        <td class="contact-sheet__right">
          <input id="subject" name="subject" type="text" class="fluid" spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left"><label for="message">Ihre Nachricht:</label></td>
        <td class="contact-sheet__right">
          <textarea id="message" name="message" rows="10" spellcheck="false"></textarea>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left">
          <input type="checkbox" id="privacy" name="privacy" class="contact-sheet__checkbox"/>
        </td>
        <td class="contact-sheet__right"><label for="privacy">Durch die Nutzung dieses Formulars erklären Sie sich mit der Speicherung und Verarbeitung Ihrer Daten einverstanden. Mehr Informationen entnehmen Sie bitte der <a href="privacy-policy-ger.html">Datenschutzerklärung</a>.</label></td>
      </tr>
      <tr>
        <td class="contact-sheet__left">&nbsp;</td>
        <td class="contact-sheet__right"><input type="submit" value="senden" name="submit" class="contact-sheet__button"/>
        </td>
      </tr>
    </table>
  </form>
  <div id="form-reply" class="contact-result"></div>
{% endblock %}