{% set page_title = "Homepage Template Title" %}
{% set page_sub_title = "Homepage Template Subtitle" %}
{% set page_keywords = "Homepage, template, keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "german/contact.html" %}
{% set page_active_navigation = "Contact" %}
{% set page_en = "contact.html" %}
{% extends "./layouts/de/content-layout.njk" %}
{% block scripts %}
  <script src="/scripts/mibreit-contact/contact.js"></script>
{% endblock %}
{% block content %}
  <h2>Kontakt</h2>
  <p>Wenn Sie Fragen zu meinen Bildern oder meiner Homepage haben oder mir einfach eine Nachricht schicken wollen, können Sie das Formular ausfüllen oder eine Email an {{page_email | replace("@", "{at}")}} schreiben.</p>
  {% include "./parts/de/contact.njk" %}  
{% endblock %}