{% set page_title = "Haftungsausschluss" %}
{% set page_sub_title = "Sub Titel" %}
{% set page_keywords = "Homepage, Template, Keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "german/disclaimer.html" %}
{% set page_en = "/disclaimer.html" %}
{% extends "./layouts/de/content-layout.njk" %}
{% block content %}
  <p>Markup für Haftungsausschluss hier einfügen. Dieser kann z.B. <a href="https://www.e-recht24.de">hier</a> erzeugt werden.</p>
{% endblock %}