{% set page_title = "Datenschutzerklärung" %}
{% set page_sub_title = "Sub Titel" %}
{% set page_keywords = "Homepage, Template, Keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "german/privacy-policy-ger.html" %}
{% set page_en = "/privacy-policy.html" %}
{% extends "./layouts/de/content-layout.njk" %}
{% block content %}
  <h1>Datenschutzerklärung</h1>
  <p>Die Datenschutzerklärung kann z.B. mit dem<a href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/">Datenschutzerklärungs-Generator der activeMind AG</a> erstellt werden.</p>
{% endblock %}