<script type='application/ld+json'>
  {
    "@context": "https:\/\/schema.org",
    "@type": "Person",
    "url": "{{page_base_url}}",
    "sameAs": [
      {% if social_media.facebook.url %}"{{social_media.facebook.url}}"{% endif %}{% if social_media.instagram.url %}, "{{social_media.instagram.url}}"{% endif %}{% if social_media.linkedin.url %}, "{{social_media.linkedin.url}}"{% endif %}
    ],
    "@id": "#person",
    "name": "{{page_author}}"
  }
</script>