{% block php_init %}{% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../../parts/en/head.njk" %}
    {% block meta %}{% endblock %}
    {% block styles %}{% endblock %}
  </head>
{% if page_background_image | length %}
  <body style="background-image: url({{page_background_image}})">
{% else %}
  <body>
{% endif %}
    {% include "../../parts/en/header.njk" %}
    {% block slideshow %}{% endblock %}
    <main>
      {% block breadcrumb %}{% endblock %}
      <div class="content padding-bottom-normal">
        {% block content %}{% endblock %}
      </div>
      {% block more %}{% endblock %}
    </main>
    {% include "../../parts/en/footer.njk" %}
    {% block scripts %}{% endblock %}
  </body>
</html>