{% from "../../macros/mibreit-gallery.njk" import gallery, thumbview, imageTitle, scriptGallery %}

{% set page_title="<?php echo $mibreitGallery->getInfoEn()->header_h1;?>" %}
{% set page_sub_title = "<?php echo $mibreitGallery->getInfoEn()->header_h2;?>" %}
{% set page_keywords="<?php echo $mibreitGallery->getInfoEn()->keywords\;?>" %}
{% set page_description = "<?php echo $mibreitGallery->getInfoEn()->description\;?>" %}
{% set page_canonical = "<?php $page = $_SERVER[\"REQUEST_URI\"];if (substr($page, 0, 1) === \"/\"){$page = substr($page, 1);}echo $page;?>" %}
{% set page_active_navigation = "Galleries" %}
{% set page_de = "index.php?lan=de" %}
{% extends "./content-layout.njk" %}
{% block scripts %}
  {{scriptGallery()}}
{% endblock %}
{% block content %}
  {% include "../../parts/shop-banner.njk" %}
  <h2>
    <a href="/galleries.html">Galleries</a> - <?php if (!empty($mibreitGallery->getInfoEn()->content_category)) {?>
    <a href=<?php echo "../galleries-" . str_replace(' ', '-', strtolower($mibreitGallery->getInfoEn()->content_category)) . ".html";?>><?php echo $mibreitGallery->getInfoEn()->content_category;?></a> - <?php }; echo $mibreitGallery->getInfoEn()->content_title;?>
  </h2>
  {{gallery()}}
  {{thumbview()}}
  {{imageTitle()}}
{% endblock %}