{% from "../../macros/mibreit-gallery.njk" import prepare, gallery, thumbview, imageTitle, scriptGallery %}
{% from "../../schema/schema-gallery.njk" import imageGallery %}
{% from "../../macros/get-base-page-url.njk" import getBasePageUrl %}
{% block php_init %}  
  {{prepare(getBasePageUrl(domain_name, use_https))}}
{% endblock %}
{% set page_title="<?php echo $mibreitGallery->getInfoEn()->header_h1;?>" %}
{% set page_sub_title = "<?php echo $mibreitGallery->getInfoEn()->header_h2;?>" %}
{% set page_keywords="<?php echo $mibreitGallery->getInfoEn()->keywords\;?>" %}
{% set page_description = "<?php echo $mibreitGallery->getInfoEn()->description\;?>" %}
{% set page_canonical = "<?php echo $mibreitGalleryPageData->getUrl(TRUE);?>" %}
{% set page_with_parameters = "<?php echo $mibreitGalleryPageData->getUrl(FALSE);?>" %}
{% set page_image = "<?php echo $page_image ?>" %}
{% set page_image_width = "<?php echo getimagesize($page_image)[0] ?>"%}
{% set page_image_height = "<?php echo getimagesize($page_image)[1] ?>"%}
{% extends "./content-layout.njk" %}
{% block meta %}
  {{imageGallery(false)}}
{% endblock %}
{% block styles %}
<noscript><link rel="stylesheet" href="/styles/noscript.css" type="text/css" ></noscript>
{% endblock %}
{% block scripts %}
  {{scriptGallery(".mibreit-gallery", ".mibreit-thumbview", ".mibreit-slideshow-title")}}
{% endblock %}
{% block content %}
  {{gallery("mibreit-gallery")}}
  {{thumbview("mibreit-thumbview")}}
  {{imageTitle("mibreit-slideshow-title")}}
{% endblock %}