{% from "../../macros/mibreit-gallery.njk" import slideshow, prepare, scriptSlideshow %}

{% extends "./content-layout.njk" %}
{% block scripts %}
  {{scriptSlideshow(".slideshow")}}
{% endblock %}
{% block slideshow %}
  <div>
    {{prepare()}}
    {{slideshow("slideshow")}}
  </div>
{% endblock %}