{% from "../../macros/mibreit-gallery.njk" import slideshow, prepare, scriptSlideshow %}
{% from "../../schema/schema-gallery.njk" import imageGallery %}
{% block php_init %}  
  {{prepare()}}
{% endblock %}
{% extends "./content-layout.njk" %}
{% block meta %}
  {{imageGallery(false)}}
{% endblock %}
{% block scripts %}
  {{scriptSlideshow(".slideshow",false, false, true)}}
{% endblock %}
{% block slideshow %}
  <div class="slideshow-container">
    {{slideshow("slideshow", false)}} 
  </div>
{% endblock %}