{% from "../../macros/mibreit-gallery.njk" import slideshow, prepare, scriptSlideshow %}

{% extends "./content-layout.njk" %}
{% block scripts %}
  {{scriptSlideshow(".slideshow",false, false, true)}}
{% endblock %}
{% block slideshow %}
  <div class="slideshow-container"> 
    {{prepare()}}
    {{slideshow("slideshow")}}
  </div>
{% endblock %}