{% include "../../parts/wordpress/top.njk" %}
{% set page_title = "<?php echo $page_title ?>" %}
{% set page_keywords = "<?php echo $page_keywords ?>" %}
{% set page_description = "<?php echo $page_description ?>" %}
{% set page_active_navigation = "Blog" %}
{% set page_canonical = "<?php echo $page ?>" %}
{% set page_type = "article" %}
{% set page_image = "<?php echo $page_image ?>" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../../parts/en/head.njk" %}
    {% include "../../parts/wordpress/head.njk" %}
    {% block meta %}{% endblock %}
    {% block styles %}{% endblock %}
  </head>
{% if page_background_image | length %}
  <body style="background-image: url({{page_background_image}})">
{% else %}
  <body>
{% endif %}
    {% include "../../parts/en/header.njk" %}
    <div class="content flexiblecontent">
      {% include "../../parts/wordpress/sidebar.njk" %}
      <main class="fluid">
        {% block content %}{% endblock %}
      </main>
    </div>
    {% include "../../parts/en/footer.njk" %}
    {% block scripts %}{% endblock %}
    {% include "../../parts/wordpress/footer.njk" %}
  </body>
</html>