{% block top %}{% endblock %}
{% include "../../parts/wordpress/top.njk" %}
{% set page_title = "<?php echo $page_title ?>" %}
{% set page_keywords = "<?php echo $page_keywords ?>" %}
{% set page_description = "<?php echo $page_description ?>" %}
{% set page_canonical = "<?php echo $page ?>" %}
{% set page_type = "article" %}
{% set page_image = "<?php echo $page_image ?>" %}
{% set page_image_width = "<?php echo getimagesize($page_image)[0] ?>"%}
{% set page_image_height = "<?php echo getimagesize($page_image)[1] ?>"%}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../../parts/en/head.njk" %}
    {% include "../../parts/wordpress/head.njk" %}
    {% block meta %}{% endblock %}
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% include "../../parts/en/header.njk" %}
    {% include "../../parts/en/navigation.njk" %}
    <div class="content flexiblecontent">
      {% include "../../parts/wordpress/sidebar.njk" %}
      <main class="fluid">
        {% block content %}{% endblock %}
      </main>
    </div>
    {% include "../../parts/en/footer.njk" %}
    {% block scripts %}{% endblock %}
    {% include "../../parts/wordpress/footer.njk" %}
  </body>
</html>