{#
# creates schema for imageGallery
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() from mibreit-gallery beforehand
#}
{% macro imageGallery(de) %} 
  <?php  
    echo "<script type=\"application/ld+json\">\n";
    echo "{\n";
    echo "\"@context\": \"https://schema.org/\",\n";
    echo "\"@type\": \"ImageGallery\",\n";    
    {% if de %}      
      if (!empty($mibreitGallery->getInfoEn()->content)) { 
        echo "\"description\": \"" . $mibreitGallery->getInfoDe()->content . "\",\n";
      }
    {% else %}      
      if (!empty($mibreitGallery->getInfoEn()->content)) {
        echo "\"description\": \"" . $mibreitGallery->getInfoEn()->content . "\",\n";
      }       
    {% endif %} 
    echo "\"associatedMedia\": [\n";
    if (isset($randomImages))
    {
      $nrOfImages = count($randomImages);
      for ($i = 0; $i < $nrOfImages - 1; ++$i) 
      {      
        {{_image("$randomImages[$i]", de)}}    
      }
      {{_image("$randomImages[$i]", de, true)}}
    }
    else
    {
      $nrOfImages = $mibreitGallery->getNumberImages();
      for ($i = 0; $i < $nrOfImages - 1; ++$i) 
      {      
        {{_image("$mibreitGallery->getImage($i)", de)}}    
      }
      {{_image("$mibreitGallery->getImage($i)", de, true)}}
    }
    echo "]\n";
    echo "}\n";
    echo "</script>\n";    
  ?>
{% endmacro %}

{# private macro that should only be used internally within a php tag to create the image schema markup #}
{% macro _image(image, de, final) %}
  echo "{\n";    
    echo "\"@type\": \"ImageObject\",\n";
    echo "\"name\": \"" . {{image}}->caption . "\",\n";
    {% if de %}      
    if ({{image}}->altDe) { 
      echo "\"description\": \"" . {{image}}->altDe . "\",\n";
      echo "\"caption\": \"" . {{image}}->altDe . "\",\n";
    }
    {% else %}
    if ({{image}}->altEn) {     
      echo "\"description\": \"" . {{image}}->altEn . "\",\n";
      echo "\"caption\": \"" . {{image}}->altEn . "\",\n";
    }
    {% endif %} 
    echo "\"url\": \"" . $mibreitGalleryPageData->getAbsoluteBaseUrl() . {{image}}->imageUrl . "\",\n";
    echo "\"contentUrl\": \"" . $mibreitGalleryPageData->getAbsoluteBaseUrl() . {{image}}->imageUrl . "\",\n";
    echo "\"thumbnailUrl\": \"" . $mibreitGalleryPageData->getAbsoluteBaseUrl() . {{image}}->thumbUrl . "\",\n";
    $size = getimagesize({{image}}->imageUrl);  
    echo "\"width\": \"" . $size[0] . "\",\n";
    echo "\"height\": \"" . $size[1] . "\"\n";
  {% if final %}
    echo "}\n"; 
  {% else %}
    echo "},\n"; 
  {% endif %}
{% endmacro %}