<?php
$language = "en";
$page = $_SERVER["REQUEST_URI"];
if (substr($page, 0, 1) === "/")
{
  $page = substr($page, 1);
}
$imageNrPos = strpos($page, "&imageNr");
if ($imageNrPos !== FALSE)
{
  $page = substr($page, 0, $imageNrPos);
}
$pageEncoded = urlencode(substr($page, 1));
$basePath = "{{page_base_url}}/" . substr($page, 0, strrpos($page, "/", -1)) . "/";
if (isset($_GET['lan'])) 
{
  $language = $_GET['lan'];
}
if($language == 'de')
{
?>
{% include "./de/gallery-layout.njk" %}
<?php } else { ?>
{% include "./en/gallery-layout.njk" %}
<?php } ?>