{% from "../macros/mibreit-gallery.njk" import prepare %}
{{prepare()}}
<?php
$language = "en";
if (isset($_GET['lan'])) 
{
  $language = $_GET['lan'];
}
if($language == 'de')
{
?>
{% include "./de/gallery-layout.njk" %}
<?php } else { ?>
{% include "./en/gallery-layout.njk" %}
<?php } ?>