@media (min-width: 360px) {
  html {
    font-size: 55%;
  }
}

@media (min-width: 420px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 66%;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 75%;
  }

  .navigation__container {
    max-height: 2.5rem;

    .navigation {
      flex-direction: row;
      justify-content: space-between;
 
      .navigation__item {
        padding: 0rem;
      }
      
      .navigation__language-item {
        position: relative;
        padding: 0;
        flex-grow: 0;
        top: unset;
        right: unset;
        width: 3rem;
      }
    }

    .menu-btn {
      display: none;
    }
  }

  .social-media {
    padding: 0rem;
    .social-media__image {
      height: 2.5rem;
    }
  }

  #cookie-msg {
    .mibreit_CookieConsent {
      svg {
        height: 2rem;
        width: 2rem;
      }

      .mibreit_CookieConsent_ToggleButton {
        width: 4rem;
        height: 2rem;
        border-radius: 1rem;
      }
    }
  }
}

@media (min-width: 801px) {
  html {
    font-size: 100%;
  }

  .navigation__container {
    font-size: 1.4rem;

    .navigation__item {
      padding: 0rem;
    }
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3,
  h4 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.25rem;
  }

  small {
    font-size: 1rem;
  }

  ol,
  ul {
    font-size: 1.25rem;
  }

  #footer p {
    font-size: 1rem;
  }

  form {
    font-size: 1.25rem;
  }

  form input,
  form textarea {
    font-size: 1.1rem;
  }

  #cookie-msg {
    padding: 0.25rem;
    p {
      font-size: 1rem;
    }

    .mibreit_CookieConsent {
      font-size: 1rem;

      .mibreit_CookieConsent_ToggleButton {
        width: 3rem;
        height: 1.5rem;
        border-radius: 0.75rem;
      }

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }

      .mibreit_CookieConsent_Button {
        height: 2.5rem;
        font-size: 1rem;
      }
    }
  }

  .social-media {
    justify-content: center;
    padding: 0rem;

    .social-media__link,
    .social-media__share-link {
      margin: 0 1rem;
    }

    .social-media__image {
      height: 2rem;
    }
  }
}

@media (min-width: 864px) {
  .content,
  .slideshow-container {
    max-width: 54rem;
  }

  .navigation__container {
    max-width: 54rem;
    left: 50%;
    margin-left: -27rem;
  }
}
