@import 'variables';

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 50%;
  min-height: 100%;
}

body {
  position: relative;
  font: 1rem Helvetica, Verdana, 'Open Sans', Georgia;
  line-height: 1.6;
  color: $base-color;
  background-color: $background-color;
  background-position: center;
  background-position: top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border: none;
  text-align: left;
  max-height: 25000px;
  min-height: 100vh;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-color-visited;
}

a:hover,
a:focus {
  color: $link-color-hover;
  outline: none;
}

h1 {
  padding-top: 1.5em;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 2.25rem;
  font-weight: bold;
}

h1:first-of-type {
  padding-top: 1rem;
}

h2 {
  padding-top: 1.25em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
h2:first-child {
  padding-top: 1rem;
}

h3 {
  padding-top: 1em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

h4 {
  padding-top: 0.8em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
}

h5 {
  padding-top: 0.8em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.7rem;
  font-weight: 400;
}

p {
  padding-top: 0.7em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

small {
  font-size: 1.3rem;
  padding-left: 1.2rem;
}

ul {
  font-size: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 3rem;
  padding-right: 0.5rem;
}

ol {
  font-size: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
}

li {
  padding-top: 0.5em;
}

table {
  td, th {
    font-size: 1.5rem;
  }
}

iframe {
  border: none;
  display: block;
  margin: auto;
}

form {
  border: none;
  font-size: 1.5rem;
}

input, textarea {
  font-size: 1.4rem;
  padding: 0.25rem;
  box-sizing: border-box;
}

form input {
  border: none;
  color: $form-color;
  background-color: $form-background-color;
}

form {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    -webkit-appearance: none;
    -webkit-text-fill-color: $form-color;
    -webkit-box-shadow: 0 0 0px 50rem $form-background-color inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

form input:focus {
  background-color: $form-background-focus;
  outline: none;
}

form input.error {
  background-color: $form-background-error;
}

form label.error {
  color: $form-background-error;
}

form textarea {
  border: none;
  color: $form-color;
  background-color: $form-background-color;
}

form textarea:focus {
  background-color: $form-background-focus;
  outline: none;
}

form input[type='checkbox'] {
  height: 1.2rem;
  width: 1.2rem;
}

select {
  padding: 0.25rem;
  box-sizing: border-box;
}

/******* alignment ***********/
/*****************************/

.aligncenterflex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.aligncenter {
  display: block;
  margin: auto;
}

.textright {
  text-align: right;
}

.table-align-top {
  vertical-align: top;
}

/******* sizing **************/
/*****************************/

.height-small {
  height: 13rem;
}

.height-normal {
  height: 45rem;
}

.width-small {
  width: 12.5rem;
  min-width: 12.5rem;
}

.width-normal {
  width: 45rem;
  min-width: 45rem;
}

.fluid {
  max-width: 100%;
  height: auto;
}

.fluid-vertical {
  max-height: 100%;
  width: auto;
}

/******* flexgrid ************/
/*****************************/
.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/******* spacing *************/
/*****************************/
.spacing-top-tiny {
  margin-top: 0.125rem;
}

.spacing-top-small {
  margin-top: 0.25rem;
}

.spacing-top-normal {
  margin-top: 0.5rem;
}

.spacing-top-large {
  margin-top: 1rem;
}

/******* negative bottom spacing *************/
/*****************************/
.spacing-negative-bottom-tiny {
  margin-bottom: -0.125rem;
}

.spacing-negative-bottom-small {
  margin-bottom: -0.25rem;
}

.spacing-negative-bottom-normal {
  margin-bottom: -0.5rem;
}

.spacing-negative-bottom-large {
  margin-bottom: -1rem;
}

/******* padding *************/
/*****************************/
.padding-bottom-tiny {
  padding-bottom: 0.125rem;
}

.padding-bottom-small {
  padding-bottom: 0.25rem;
}

.padding-bottom-normal {
  padding-bottom: 0.5rem;
}

.padding-bottom-large {
  padding-bottom: 1rem;
}

/******* video ***************/
/*****************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******* image links *********/
/*****************************/
.image-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-links__link {
  display: flex;
}
.image-links__image {
  padding: 0;
  margin: 0 0.5rem;
  height: 2rem;
  width: auto;
}

/******* effects *************/
/*****************************/
.blur-normal {
  filter: blur(0.5rem);
}
.blur-more {
  filter: blur(1rem);
}
.blur-max {
  filter: blur(2rem);
}
