// colors

$background-color: #ffffff;
$background-color-highlight: #ebebeb;
$base-color: #4f5c64;

$header-background-color: $background-color;
$navigation-background-color: rgba(255, 255, 255, 0.85);
$footer-background-color: $background-color;
$cookie-consent-background-color: $background-color;

$link-color: #103247;
$link-color-hover: #a1b5c2;
$link-color-visited: #032b44;

$button-background-color: #a1b5c2;
$button-link-color: $link-color;

$search-link-color: #a5bac7;
$search-button-color: $search-link-color;

$form-color: #1c2124;
$form-background-color: #a5bac7;
$form-background-focus: #d4b888;
$form-background-error: #e45e4d;
$form-color-error: $form-background-error;

// gradients
$search-background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(103, 105, 110, 0.5) 100%);

// shadows
$header-shadow: 0rem 0.2rem 0.15rem 0rem rgba(0, 0, 0, 0.25);
$navigation-shadow: $header-shadow;
$footer-shadow: 0rem -0.2rem 0.15rem 0rem rgba(0, 0, 0, 0.25);
$cookie-consent-shadow: $footer-shadow;
