@import 'variables';

#cookie-msg {
  background-color: $cookie-consent-background-color;
  -webkit-box-shadow: $cookie-consent-shadow;
  -moz-box-shadow: $cookie-consent-shadow;
  box-shadow: $cookie-consent-shadow;

  .btn-aceptar {
    background-color: #a1b5c2;
  }
  a {
    color: $button-link-color;
  }

  small {
    padding-top: 0rem;
  }
}

