@import 'variables';

#cookie-msg {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
  background-color: #ffffff;
  background-color: $cookie-consent-background-color;
  -webkit-box-shadow: $cookie-consent-shadow;
  -moz-box-shadow: $cookie-consent-shadow;
  box-shadow: $cookie-consent-shadow;

  * {
    max-width: 54rem;
  }

  p {
    font-size: 1.4rem;
  }

  .mibreit_CookieConsent {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;

    svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: black;
    }

    .mibreit_CookieConsent_ToggleButton {
      width: 5rem;
      height: 2.5rem;
      border-radius: 1.25rem;
      margin-right: 0.5rem;
    }

    .mibreit_CookieConsent_Button {
      height: 3rem;
      font-size: 1.4rem;
    }
  }
}
