@import 'variables';

.footer {
  flex: 0 1 auto;
  margin-bottom: 0rem;
  margin-top: auto;
  padding-bottom: 1rem;
  width: 100%;
  background-color: $footer-background-color;
  -webkit-box-shadow: $footer-shadow;
  -moz-box-shadow: $footer-shadow;
  box-shadow: $footer-shadow;

  .footer__text {
    text-align: center;
    font-size: 1.2rem;
  }
  
  .footer__link {
    text-decoration: underline;
  }
}

