@import 'variables';

.mibreit-gallery {
  .mibreit_GalleryPrevious > svg,
  .mibreit_GalleryNext > svg,
  .mibreit_GalleryFullscreenButton > svg {
    fill: $base-color;
  }
  figcaption {
    position: absolute;
    bottom: 0rem;
    opacity: 0;
    width: 100%;
    background-color: $figcaption-background-color;
  }
  figcaption > p {
    padding: 0;
    text-align: center;
  }
}

.mibreit-thumbview {
  .mibreit_ThumbScrollerPrevious,
  .mibreit_ThumbScrollerNext {
    opacity: 0.5;
    svg {
      fill: $base-color;
    }
  }
}

.mibreit_Fullscreen > .mibreit_Fullscreen_exit {
  opacity: 0.5;
  svg {
    fill: $base-color;
  }
}
