@import 'variables';

.mibreit-gallery {
  .mibreit_GalleryPrevious > svg,
  .mibreit_GalleryNext > svg,
  .mibreit_GalleryFullscreenButton > svg {
    fill: $base-color;
  }
}

.mibreit-thumbview {
  .mibreit_ThumbScrollerPrevious,
  .mibreit_ThumbScrollerNext {
    opacity: 0.5;
    svg {
      fill: $base-color;
    }
  }
}

.mibreit_Fullscreen > .mibreit_Fullscreen_exit {
  opacity: 0.5;
  svg {
    fill: $base-color;
  }
}
