/**** GLOBALS *****/
/******************/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 50%;
  min-height: 100%;
}

body {
  font: 1rem Helvetica, Verdana, "Open Sans", Georgia;
  line-height: 1.6;
  color: #4f5c64;
  background-color: rgb(255, 255, 255);
  border: none;
  text-align: left;
  max-height: 25000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #103247;
  text-decoration: none;
}

a:hover {
  color: #a1b5c2;
}

a:visited {
  color: #032b44;
}

h1 {
  padding-top: 0.8em;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  padding-top: 0.8em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  padding-top: 0.8em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

h4 {
  padding-top: 0.8em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  padding-top: 0.7em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

small {
  font-size: 1.3rem;
  padding-left: 1.2rem;
}

ul {
  list-style-type: none;
  font-size: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 1.25rem;
  padding-right: 0.5rem;
}

ol {
  font-size: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
}

li {
  padding-top: 0.5em;
}

iframe {
  border: none;
  display: block;
  margin: auto;
}

form {
  border: none;
  font-size: 1.5rem;
}

form input,
form textarea {
  font-size: 1.4rem;
}

form input {
  border: none;
  color: #1c2124;
  background-color: #a5bac7;
}

form textarea {
  border: none;
  color: #1c2124;
  background-color: #a5bac7;
}

/******* alignment ***********/
/*****************************/

.aligncenterflex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.aligncenter {
  display: block;
  margin: auto;
}

.textright {
  text-align: right;
}

.table-align-top {
  vertical-align: top;
}

/******* sizing **************/
/*****************************/

.height-small {
  height: 13rem;
}

.height-normal {
  height: 45rem;
}

.width-small {
  width: 13rem;
  min-width: 13rem;
}

.width-normal {
  width: 45rem;
  min-width: 45rem;
}

.fluid {
  max-width: 100%;
  height: auto;
}

/******* flexgrid ************/
/*****************************/
.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/******* spacing *************/
/*****************************/
.spacing-top-tiny {
  margin-top: 0.125rem;
}

.spacing-top-small {
  margin-top: 0.25rem;
}

.spacing-top-normal {
  margin-top: 0.5rem;
}

.spacing-top-large {
  margin-top: 1rem;
}

/******* padding *************/
/*****************************/
.padding-bottom-tiny {
  padding-bottom: 0.125rem;
}

.padding-bottom-small {
  padding-bottom: 0.25rem;
}

.padding-bottom-normal {
  padding-bottom: 0.5rem;
}

.padding-bottom-large {
  padding-bottom: 1rem;
}

/******* video ***************/
/*****************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******* image links *********/
/*****************************/
.image-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-links__link {
  display: flex;
}
.image-links__image {
  padding: 0;
  margin: 0 0.5rem;
  height: 2rem;
  width: auto;
}
