@import 'variables';

.header {
  position: relative;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: $header-background-color;
  -webkit-box-shadow: $header-shadow;
  -moz-box-shadow: $header-shadow;
  box-shadow: $header-shadow;

  .header__image {
    position: relative;
    width: 100%;
    height: 14rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .profile__image {
    position: absolute;
    height: 8rem;
    width: auto;
    top: 1rem;
    right: 2rem;
    display: none;
    z-index: 1;
  }
  
  h1 {
    position: absolute;
    text-align: left;
    margin-left: -4000px;
  }
  
  h2 {
    position: absolute;
    text-align: left;
    margin-left: -4000px;
  }
}


