.content {
  margin: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  min-width: 40rem;
  width: 100%;
  flex: 1 1 auto;
}

.content .content__table img {
  padding: 0.5rem;
}

.content .content__table .width-small img {
  max-width: 100%;
  height: auto;
}

/******** Framed background ****/
/*******************************/

.framed-background {
  min-height: 57rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-image: url(/images/design/background-content-middle.png);
  background-position: top;
  background-attachment: scroll;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: row;
}

.framed-background .framed-background__border {
  background-image: url(/images/design/background-content-border.png);
  background-position: top;
  background-repeat: repeat-x;
  width: 1px;
  height: 57rem;
}
