@import 'variables';

.navigation__container {
  position: sticky;
  top: 0;
  margin: -3rem auto 0;
  width: 100%;
  max-width: 60rem;
  font-size: 1.6rem;
  font-weight: bold;
  max-height: 2.5rem;
  background-color: $navigation-background-color;
  backdrop-filter: blur(3.5px);
  -webkit-box-shadow: $navigation-shadow;
  -moz-box-shadow: $navigation-shadow;
  box-shadow: $navigation-shadow;
  overflow: hidden;
  z-index: 50;
  transition: max-height 0.7s ease-in-out;

  .navigation {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .navigation__item {
    position: relative;
    flex-grow: 1;
    padding: 0.25rem 1.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation__item--active {
    background-color: $link-color-background-active;
  }

  .navigation__item:hover {
    background-color: $link-color;
  }

  .navigation__icon-items {
    position: absolute;
    top: 0rem;
    right: 0.5rem;
    display: flex;
  }

  .navigation__icon-item {
    padding: 0;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }

  .navigation__icon-item img {
    height: auto;
    margin: auto;
    vertical-align: middle;
  }

  .menu-btn {
    position: relative;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger {
    width: 2rem;
    height: 0.3rem;
    background: $link-color;
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    background: $link-color;
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-0.7rem);
  }
  .menu-btn__burger::after {
    transform: translateY(0.7rem);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    background: transparent;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg);
  }
}

.navigation__container.open {
  max-height: 50rem;
}
