@import 'variables';

.navigation__container {
  position: absolute;
  top: 11rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  max-height: 2.5rem;
  background-color: $navigation-background-color;
  backdrop-filter: blur(3.5px);
  -webkit-box-shadow: $navigation-shadow;
  -moz-box-shadow: $navigation-shadow;
  box-shadow: $navigation-shadow;
  overflow: hidden;
  z-index: 50;
  transition: max-height 0.7s ease-in-out;

  .navigation {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .navigation__item {
    position: relative;
    flex-grow: 1;
    padding: 0.25rem 1.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation__item--active
  {
    background-color: $link-color-background-active;
  }
    
  .navigation__item:hover {
    background-color: $link-color;
  }
  
  .navigation__language-item {
    position: absolute;
    padding: 0;
    flex-grow: 0;
    top: 0;
    right: 0;
    width: 3rem;
  }
  
  .navigation__language-item img {
    right: 1rem;
    height: auto;
    width: 1.5rem;
    margin: auto;
    vertical-align: middle;
  }
  
  .menu-btn {
    position: relative;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger {
    width: 2rem;
    height: 0.3rem;
    background: $link-color;
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    background: $link-color;
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-0.7rem);
  }
  .menu-btn__burger::after {
    transform: translateY(0.7rem);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    background: transparent;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg);
  }
}

.navigation__container.open {
  max-height: 50rem;
}

.navigation__container.sticky {
  position: fixed;
  top: 0rem;
}


