.search__container {
  position: absolute;
  height: 3rem;
  right: 0rem;
  top:0rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0%, rgba(103, 105, 110, 0.5) 100%);
}

.search__privacy-link a {
  color: #a5bac7;
}

.search__container .search__privacy-link {
  text-align: left;
  display: none;
}
.search__container form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search__container input {
  padding-left: 0.25rem;
  width: 14rem;
}

.search__container .search__button {
  padding: 0;
  margin-left: 1rem;
  background: none;
  border: none;
}

.search__container .search__button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #a5bac7;
}

#container .gs-image-scalable {
  height: unset;
}
