@import 'variables';

.search__container {
  position: absolute;
  height: 3rem;
  right: 0rem;
  top:0rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $search-background;

  .search__privacy-link a {
    color: $search-link-color;
  }

  .search__privacy-link {
    text-align: left;
    display: none;
  }
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  input {
    padding-left: 0.25rem;
    width: 14rem;
  }
  
  .search__button {
    padding: 0;
    margin-left: 1rem;
    background: none;
    border: none;
  }
  
  .search__button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $search-button-color;
  }
}

#container .gs-image-scalable {
  height: unset;
}
