.slideshow-container 
{
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 60rem;
}

.slideshow {
  opacity: 0;
  position: relative;
  width: 100%;
  padding-bottom: 66.66%;
  figcaption {
    display: none;
  }
}