.slideshow {
  position: relative;
  width: 100%;
  padding-bottom: 66.66%;
}

.mibreit-slideshow-title {
  padding: 0rem;
  padding-top: 0.5rem;
  text-align: center;
}

.mibreit-gallery {
  position: relative;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 37rem;
  overflow: hidden;
}

.mibreit-thumbview {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 60rem;
  height: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.mibreit-slideshow-caption {
  position: absolute;
  text-align: left;
  margin-left: -4000px;
}
