.social-media {
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media .social-media__link {
  display: flex;
}

.social-media .social-media__share-link {
  display: flex;
}

.social-media .social-media__image {
  padding: 0;
  margin: 0 1rem;
  height: 2rem;
  width: auto;
}
