.social-media {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  padding: 0.5rem 0rem;
  
  .social-media__link {
    display: flex;
  }

  .social-media__share-link {
    display: flex;
  }

  .social-media__image {
    padding: 0;
    padding: 0.5rem;
    height: 3rem;
    width: auto;
  }
}
