.navigation__container {
  position: relative;
  margin: 0rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  overflow: hidden;
  background-color: #e7e7e7;
}

.navigation__container.sticky {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0.5rem;
  right: 0.5rem;
  margin: 0rem;
}

.navigation__container.open {
  max-height: 50rem;
}

.navigation__container .navigation {
  display: flex;
  height: 3rem;
  min-width: 40rem;
  flex-direction: row;
}

.navigation__container .navigation .navigation__item {
  flex-grow: 1;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__container .navigation .navigation__item:hover {
  background-color: #a1b5c2;
}

.navigation__container .navigation__language-item {
  position: absolute;
  height: 100%;
  width: 3rem;
  top: 0rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
}

.navigation__container .navigation__language-item img {
  height: auto;
  margin: auto;
  vertical-align: middle;
}

.navigation__container .menu-btn {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.navigation__container .menu-btn__burger {
  width: 2rem;
  height: 0.3rem;
  background: #445057;
  border-radius: 0.25rem;
  transition: all 0.5s ease-in-out;
}

.navigation__container .menu-btn__burger::before,
.navigation__container .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.3rem;
  background: #445057;
  border-radius: 0.25rem;
  transition: all 0.5s ease-in-out;
}
.navigation__container .menu-btn__burger::before {
  transform: translateY(-0.7rem);
}
.navigation__container .menu-btn__burger::after {
  transform: translateY(0.7rem);
}
/* ANIMATION */
.navigation__container .menu-btn.open .menu-btn__burger {
  background: transparent;
}
.navigation__container .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.navigation__container .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}
