.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media .social-media__link {
  display: flex;
}

.social-media .social-media__image {
  padding: 0;
  margin: 0 0.5rem;
  height: 2rem;
  width: auto;
}
