{% macro scriptImageBeforeAfter(item_selector) %}
<script src="/scripts/mibreit-image-before-after/mibreit-image-before-after.min.js"></script>
<script>
  window.addEventListener('load', function () {
    var imageContainers = document.querySelectorAll("{{item_selector}}");
    if (imageContainers)
    {
      for (let i = 0; i < imageContainers.length; i++) {
        mibreitImageBeforeAfter.createImageCompareSlider(imageContainers[i].firstElementChild);
      }
    }
  });
</script>
{% endmacro %}