.header {
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h1 {
  position: absolute;
  text-align: left;
  margin-left: -4000px;
}

.header h2 {
  position: absolute;
  text-align: left;
  margin-left: -4000px;
}
