mbg-gallery mbg-images {
  padding-bottom: 0;
}
mbg-images {
  opacity: 1;
  height: 100%;
}
mbg-thumbs {
  display: none !important;
}
mbg-images img {
  position: relative !important;
  width: 100%;
  height: auto;
}
mbg-images figcaption {
  position: relative !important;
  opacity: 1;
}
