body mbg-slideshow mbg-images {
  opacity: 1;
  height: 100%;
  padding-bottom: 0;
  img {
    position: relative !important;
    width: 100%;
    height: auto;
  }
  figcaption {
    position: relative !important;
    opacity: 1;
    display: block;
    width: 100%;
  }
  figcaption > p {
    padding: 0;
    text-align: center;
  }
}
