<?php 
  $page_title = get_post_meta( get_the_ID(), 'title', true );  
  if (!is_single() || !$page_title || (strlen($page_title) == 0))     
  {
    if(wp_title('', false))
    {
      $page_title = wp_title('', false);
    }  
    else 
    {
      $page_title = get_bloginfo('name');
    }        
  } 
  $page_title = ltrim($page_title);

  $page = $_SERVER["REQUEST_URI"];
  if (str_starts_with($page, "/"))
  {
    $page = substr($page, 1);
  }
  // remove parameters from url
  $parametersPos = strpos($page, "?");
  if ($parametersPos != false)
  {
    $page = substr($page, 0, $parametersPos);
  }

  $page_keywords = get_post_meta( get_the_ID(), 'keys', true );
  if (!is_single() || !$page_keywords || (strlen($page_keywords) == 0)) 
  {      
    $page_keywords = "{{page_default_keywords}}";
  }

  $page_description = get_post_meta( get_the_ID(), 'desc', true );
  if (!is_single() || !$page_description || (strlen($page_description) == 0))    
  {
    $page_description = "{{page_default_description}}";
  }  

  $page_image = get_site_image();  
?>
