<script>
  stickyNavbar(function () {
    return document.querySelector(".header").clientHeight - document.querySelector(".navigation__container .navigation .navigation__item").clientHeight;
  });
</script>