{% set page_title = "Homepage Template Title" %}
{% set page_sub_title = "Homepage Template Subtitle" %}
{% set page_keywords = "Homepage, template, keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "about.html" %}
{% set page_active_navigation = "About" %}
{% set page_de = "/german/about.html" %}
{% extends "./layouts/en/content-layout.njk" %}

{% block content %}
  <h2>About the Artist</h2>
  <p>Information.... <a href="https://www.mibreit-photo.com" target="_blank">some links</a>.</p>
{% endblock %}