{% set page_title = "Homepage Template Title" %}
{% set page_sub_title = "Homepage Template Subtitle" %}
{% set page_keywords = "Homepage, template, keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "contact.html" %}
{% set page_active_navigation = "Contact" %}
{% set page_de = "/german/contact.html" %}
{% extends "./layouts/en/content-layout.njk" %}
{% block scripts %}
  {% include "./parts/script-mibreit-contact.njk" %}
{% endblock %}
{% block content %}
  <h2>Contact</h2>
  <p>If you have questions regarding my Photography or my Homepage or you just want to drop me a message, please fill out the form below or simply mail to {{page_email | replace("@", "{at}")}}.</p>
  {% from "./macros/en/mibreit-contact.njk" import mibreitContact %}
  {{mibreitContact("privacy-policy.html")}}  
{% endblock %}