{% set page_title = "Homepage Template Title" %}
{% set page_sub_title = "Homepage Template Subtitle" %}
{% set page_keywords = "Homepage, template, keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "contact.html" %}
{% set page_active_navigation = "Contact" %}
{% set page_de = "/german/contact.html" %}
{% extends "./layouts/en/content-layout.njk" %}
{% block scripts %}
  <script src="/scripts/mibreit-contact/contact.js"></script>
{% endblock %}
{% block content %}
  <h2>Contact</h2>
  <p>If you have questions regarding my Photography or my Homepage or you just want to drop me a message, please fill out the form below or simply mail to {{page_email | replace("@", "{at}")}}.</p>
  <form id="contact" class="contact-sheet" name="contact-sheet" method="post" autocomplete="off" action="/scripts/mibreit-contact/mibreit-email.php">
    <table>
      <tr>
        <td class="contact-sheet__left">My email:</td>
        <td class="contact-sheet__right">
          <input name="myemail" type="text" disabled="disabled" value="Michael.Breitung{at}mibreit-photo.com" readonly="readonly" class="fluid"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left">Your email:</td>
        <td class="contact-sheet__right">
          <input name="email" type="text" class="fluid" spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left">Your homepage:</td>
        <td class="contact-sheet__right">
          <input name="homepage" type="text" class="fluid" spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left">Subject:</td>
        <td class="contact-sheet__right">
          <input name="subject" type="text" class="fluid" spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left">Your message:</td>
        <td class="contact-sheet__right">
          <textarea name="message" rows="10" spellcheck="false"></textarea>
        </td>
      </tr>
      <tr>
        <td class="contact-sheet__left">
          <input type="checkbox" name="privacy" class="contact-sheet__checkbox"/>
        </td>
        <td class="contact-sheet__right">By using this form, you agree to the storage and processing of your data. More information can be found in the <a href="privacy-policy.html">privacy policy</a>.</td>
      </tr>
      <tr>
        <td class="contact-sheet__left">&nbsp;</td>
        <td class="contact-sheet__right"><input type="submit" name="submit" value="send" class="contact-sheet__button"/></td>
      </tr>
    </table>
  </form>
  <div id="form-reply" class="contact-result"></div>
{% endblock %}