{% set page_title = "Disclaimer" %}
{% set page_sub_title = "Homepage Template Subtitle" %}
{% set page_keywords = "Homepage, template, keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "disclaimer.html" %}
{% set page_de = "/german/disclaimer-ger.html" %}
{% extends "./layouts/en/content-layout.njk" %}
{% block content %}
  <p>Insert disclaimer here. You can create it with <a href="https://www.e-recht24.de">this generator</a> for example.</p>
{% endblock %}