{% set page_title = "Privacy Policy" %}
{% set page_sub_title = "Homepage Template Subtitle" %}
{% set page_keywords = "Homepage, template, keywords" %}
{% set page_description = "Homepage Template Description." %}
{% set page_canonical = "privacy-policy.html" %}
{% set page_de = "/german/privacy-policy.html" %}
{% extends "./layouts/en/content-layout.njk" %}
{% block content %}
  <h1>Privacy Policy</h1>
  <p>The privacy policy can be created with <a href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/" target="_blank">the activeMind AG privacy statement generator</a> for example.</p>
{% endblock %}