<script src="/scripts/mibreit-cookie-consent/mibreitCookie.min.js"></script>
<script>
  $.cookieMessage({'mainMessage': 'Diese Webseite nutzt Cookies. Durch Nutzung dieser Webseite stimmen Sie der Nutzung der Cookies zu. Mehr Informationen finden Sie in unserer <a href="{{page_cookie_consent.de.privacy_url}}">Datenschutzbestimmung</a>.', 'acceptButton': 'alles klar', expirationDays: 20, cookieName: 'cookieConsent'});
</script>