<div class="amazon">
  {% if amazon_affiliate.de %}
    <a class="amazon__link" href="https://www.amazon.de/?tag={{amazon_affiliate.de}}"><img class="amazon__image" src="images/amazon/amazon-de.png" title="amazon de affiliate" width="136" height="56" alt="amazon de affiliate"/></a>
  {% endif %}
</div>