 <div class="donate">
  <p><strong>Trinkgeld Box</strong></p>
  <p>Wenn Sie diesen Artikel mögen, möchten Sie vielleicht auch einen kleinen Beitrag spenden, der mir hilft, weiterhin gute Inhalte für diese Seite zu produzieren.</p>
  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="{{paypal_donate}}" >
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit Paypal Knopf" >
  </form>
  </div>