{% from "../../macros/link-item-list.njk" import linkItemList %}
{% from "../../macros/social-media-links.njk" import socialMediaLinks %}
<footer class="footer">
  {{ socialMediaLinks(social_media) }}
  <p class="footer__text">Alle Inhalte © Copyright von {{page_author}}. Alle Rechte vorbehalten<br>
    {{ linkItemList(page_footer.de, false, "footer__link", 4, "|") }}
  </p>
</footer>
{% include "../background-image.njk" %}  
<script src="/scripts/base.js"></script>
<script>
  {% include "./script-cookie-consent.njk" %} 
  mibreitSearch();
  hamburgerNavbar();
  {% include "../script-sticky-navbar.njk" %}
</script>