<header class="header">
  {% include "../header-image.njk" %}
  {% if page_title %}
    <h1>{{page_title}}</h1>
  {% endif %}
  {% if page_sub_title %}
    <h2>{{page_sub_title}}</h2>
  {% endif %}
  <div class="search">
    <div class="search__container">
      <form action="/german/search.html" id="google-search-form" method="get" role="search">
        <input autocomplete="off" class="search__input" name="q" placeholder="mit Google suchen" title="Enter search here" type="text"/>
        <input type="image" src="/images/search/search.png" class="search__button" title="mit Google suchen" type="submit"/>
      </form>
      <div class="search__privacy-link">
        <a href="/german/privacy-policy.html#google_search" title="Hinweise zur Datenübertragung bei der Google™ Suche">Hinweise zur Google™ Suche</a>
      </div>
    </div>
  </div>
  {% include "../../parts/de/navigation.njk" %}
</header>