<header class="header">
  {% include "../header-image.njk" %}
  {% if page_title %}
    <h1>{{page_title}}</h1>
  {% endif %}
  {% if page_sub_title %}
    <h2>{{page_sub_title}}</h2>
  {% endif %}
  {% include "../../parts/de/navigation.njk" %}
</header>