<header class="header">
  {% include "../header-image.njk" %}
  {% if page_name %}
    {% if page_name_as_h1 %}
      <h1>{{page_name | upper }}</h1>
    {% else %}
      <p class="page-name">{{page_name | upper }}</p>
    {% endif %}
  {% endif %}
  {% if google_search | length -%} 
  <div class="search__container">
    <form action="/german/search.html" id="google-search-form" method="get" role="search">
      <input autocomplete="off" class="search__input" name="q" placeholder="mit Google suchen" title="Enter search here" type="text" >
      <button class="search__button" type="submit" form="google-search-form" name="Google Search Submit Knopf" aria-label="Google Suche">{% include "../../svgs/search/search.njk" %}</button>
    </form>
    <div class="search__privacy-link">
      <a href="/german/privacy-policy.html#google_search" title="Hinweise zur Datenübertragung bei der Google™ Suche">Hinweise zur Google™ Suche</a>
    </div>
  </div>
  {% endif %}
</header>