<p>{{page_name}}<br/>Fotograf<br/><br/>
<strong>Adresse</strong><br/>
{{page_author}}<br/>
{{page_author_details.street}}<br/>
{{page_author_details.zip}}&nbsp;{{page_author_details.town}}<br/>
{{page_author_details.country}}<br/><br/>
<strong>Kontakt</strong><br/>
{{page_author_details.phone}}<br>
<a href="contact-ger.html">Kontaktformular</a>
</p>