{% from "../../macros/dived-link-item-list.njk" import divedLinkItemList %}
<nav class="navigation__container">
  <div class="menu-btn">
    <div class="menu-btn__burger"></div>
  </div>
  <div class="navigation">
    {{ divedLinkItemList(page_navigation.de, "navigation__item", "navigation__item--active", page_active_navigation) }}
    {% if page_en %}
      <a href="{{page_en}}" class="navigation__item navigation__language-item"><img src="/images/navigation/english.gif" alt="klicken sie hier um zur englischen Version dieser Seite zu gelangen" width="20" height="12" ></a>
    {% endif %}
  </div>
</nav>