mibreitCookieConsentBar({german: false, mainMessage: '<p>Diese Webseite verwendet Cookies, um Ihnen ein optimales Benutzererlebnis zu bieten. Weitere Informationen finden Sie in unserer <a href="{{page_cookie_consent.de.privacy_url}}#google_analytics">Datenschutzerklärung</a>.</p>', consentConfig: [{label: 'Basic Cookies', cookieName: 'basic'}]});