<!DOCTYPE html>
<html lang="de">
  <head>
    {% include "../../parts/de/head.njk" %}
    {% block meta %}{% endblock %}
    {% block styles %}{% endblock %}
  </head>

  <body>
    <div id="container">
      {% include "../../parts/de/header.njk" %}
      {% include "../../parts/de/navigation.njk" %}
      {% block slideshow %}{% endblock %}
      {% from "../../macros/main-content-frame.njk" import mainContentFrame %}
      {% call mainContentFrame() %}
      <main id="content">
        {% block content %}{% endblock %}
      </main>
      {% include "../../parts/de/footer.njk" %}
      {% block scripts %}{% endblock %}
      {% endcall %}
    </div>
  </body>
</html>