{% from "../../macros/mibreit-gallery.njk" import prepare, gallery, thumbview, imageTitle, scriptGallery %}
{% from "../../schema/schema-gallery.njk" import imageGallery %}
{% block php_init %}  
  {{prepare()}}
{% endblock %}
{% set page_title="<?php echo $mibreitGallery->getInfoDe()->header_h1;?>" %}
{% set page_sub_title = "<?php echo $mibreitGallery->getInfoDe()->header_h2;?>" %}
{% set page_keywords="<?php echo $mibreitGallery->getInfoDe()->keywords\;?>" %}
{% set page_description = "<?php echo $mibreitGallery->getInfoDe()->description\;?>" %}
{% set page_canonical = "<?php echo $mibreitGalleryPageData->getUrl(TRUE);?>" %}
{% set page_with_parameters = "<?php echo $mibreitGalleryPageData->getUrl(FALSE);?>" %}
{% set page_image = "<?php echo $mibreitGalleryPageData->getBasePath() . $mibreitGallery->getImage($imageNr)->imageUrl ?>" %}
{% extends "./content-layout.njk" %}
{% block meta %}
  {{imageGallery(true)}}
{% endblock %}
{% block scripts %}
  {{scriptGallery(".mibreit-gallery", ".mibreit-thumbview", ".mibreit-slideshow-title")}}
{% endblock %}
{% block content %}
  {{gallery("mibreit-gallery", true)}}
  {{thumbview("mibreit-thumbview")}}
  {{imageTitle("mibreit-slideshow-title", true)}}
{% endblock %}