{% from "../../macros/mibreit-gallery.njk" import prepare, gallery, scriptGallery %}
{% from "../../schema/schema-gallery.njk" import imageGallery %}
{% from "../../macros/get-base-page-url.njk" import getBasePageUrl %}
{% set page_title="<?php echo $mibreitGallery->getInfoDe()->title;?>" %}
{% set page_sub_title = "<?php echo $mibreitGallery->getInfoDe()->header_h1;?>" %}
{% set page_keywords="<?php echo $mibreitGallery->getInfoDe()->keywords\;?>" %}
{% set page_description = "<?php echo $mibreitGallery->getInfoDe()->description\;?>" %}
{% set page_canonical = "<?php echo $mibreitGalleryPageData->getRelativeUrl(TRUE);?>" %}
{% set page_with_parameters = "<?php echo $mibreitGalleryPageData->getRelativeUrl(FALSE);?>" %}
{% set page_image = "<?php echo $page_image ?>" %}
{% set page_image_width = "<?php echo $page_image_width ?>"%}
{% set page_image_height = "<?php echo $page_image_height ?>"%}
{% extends "./content-layout.njk" %}
{% block meta %}
  {{imageGallery(true)}}
{% endblock %}
{% block scripts %}
  {{scriptGallery()}}
{% endblock %}
{% block content %}
  {{gallery(true)}}
{% endblock %}