{% block php_init %}
  {% from "../../macros/mibreit-gallery.njk" import prepare, gallery, thumbview, imageTitle, scriptGallery %}
  {{prepare()}}
{% endblock %}
{% set page_title="<?php echo $mibreitGallery->getInfoDe()->header_h1;?>" %}
{% set page_sub_title = "<?php echo $mibreitGallery->getInfoDe()->header_h2;?>" %}
{% set page_keywords="<?php echo $mibreitGallery->getInfoDe()->keywords\;?>" %}
{% set page_description = "<?php echo $mibreitGallery->getInfoDe()->description\;?>" %}
{% set page_canonical = "<?php echo $mibreitGalleryPageData->getPage();?>" %}
{% set page_parameters = "imageNr=<?php echo $imageNr ?>" %}
{% set page_image = "<?php echo $mibreitGalleryPageData->getBasePath() . $mibreitGallery->getImage($imageNr)->imageUrl ?>" %}
{% extends "./content-layout.njk" %}
{% block scripts %}
  {{scriptGallery()}}
{% endblock %}
{% block content %}
  {{gallery(true)}}
  {{thumbview()}}
  {{imageTitle(true)}}
{% endblock %}