{% from "../../macros/mibreit-gallery.njk" import slideshow, prepare, scriptSlideshow %}

{% extends "./content-layout.njk" %}
{% block scripts %}
  {{scriptSlideshow(".slideshow")}}
{% endblock %}
{% block slideshow %}
  <section>
    {{prepare()}}
    {{slideshow("slideshow", true)}}
  </section>
{% endblock %}