{% from "../../macros/mibreit-gallery.njk" import slideshow, prepare, scriptOnly %}
{% from "../../schema/schema-gallery.njk" import imageGallery %}
{% from "../../macros/get-base-page-url.njk" import getBasePageUrl %}
{% block php_init %}  
  {{prepare(getBasePageUrl(domain_name, use_https))}}
{% endblock %}
{% extends "./content-layout.njk" %}
{% block meta %}
  {{imageGallery(true)}}
{% endblock %}
{% block scripts %}
  {{scriptOnly()}}
{% endblock %}
{% block slideshow %}
  <div class="slideshow-container">
    {{slideshow(true,true,null,8)}} 
  </div>
{% endblock %}
