.contact-sheet {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.contact-sheet table {
  table-layout: fixed;
  width: 100%;
}

.contact-sheet__button {
  padding: 0.25rem;
}

.contact-sheet input {
  width: 100%;
}

.contact-sheet input:focus {
  background-color: #d4b888;
  outline: none;
}

.contact-sheet input.error {
  background-color: #e45e4d;
}

.contact-sheet input.contact-sheet__checkbox {
  padding: 0.25rem;
  width: 20px;
}

.contact-sheet textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 260px;
}

.contact-sheet textarea:focus {
  background-color: #d4b888;
  outline: none;
}

.contact-sheet td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.contact-sheet td.contact-sheet__right {
  width: 75%;
}

.contact-sheet td.contact-sheet__left {
  text-align: left;
}

.contact-sheet label.error {
  color: #dd4b37;
}

.contact-result {
  padding-top: 0.8em;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
