 {% if paypal_donate | length %}
 <div class="donate">
  <p><strong>Tip Jar</strong></p>
  <p>If you enjoyed this article, please consider making a small donation to support me and my photography. It will help me to keep this site going.</p>
  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="{{paypal_donate}}" >
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" >
  </form>
  </div>
  {% endif %}
