{% from "../../macros/link-item-list.njk" import linkItemList %}
<footer class="footer">
  <p class="footer__text">All Material © Copyright by {{page_author}}. All Rights Reserved<br>
    {{ linkItemList(page_footer.en, false, "footer__link", 4, "|") }}
  </p>
</footer>
<script src="/scripts/base.js"></script>
{% include "./script-cookie-consent.njk" %}
{% include "../script-sticky-navbar.njk" %}