{% from "../../macros/link-item-list.njk" import linkItemList %}
{% from "../../macros/social-media-links.njk" import socialMediaLinks %}
<footer class="footer">
  {{ socialMediaLinks(social_media) }}
  <p class="footer__text">All Material © Copyright by {{page_author}}. All Rights Reserved<br>
    {{ linkItemList(page_footer.en, false, "footer__link", 4, "|") }}
  </p>
</footer>
<script src="/scripts/base.js"></script>
<script>
  {% include "./script-cookie-consent.njk" %}  
  mibreitSearch();
  hamburgerNavbar();
  {% include "../script-sticky-navbar.njk" %}
  {% if page_background_image | length %}
    {% include "../script-background.njk" %}
  {% endif %}
</script>
