<p>{{page_name}}<br/>Photographer<br/><br/>
<strong>Address</strong><br/>
{{page_author}}<br/>
{{page_author_details.street}}<br/>
{{page_author_details.zip}}&nbsp;{{page_author_details.town}}<br/>
{{page_author_details.country}}<br/><br/>
<strong>Contact</strong><br/>
{{page_author_details.phone}}<br>
<a href="contact.html">Contact Form</a>
</p>