{% from "../../macros/dived-link-item-list.njk" import divedLinkItemList %}
<nav class="navigation__container">
  <div class="menu-btn">
    <div class="menu-btn__burger"></div>
  </div>
  <div class="navigation">
    {{ divedLinkItemList(page_navigation.en, "navigation__item", "navigation__item--active", page_active_navigation) }}
    <div class="navigation__icon-items">
      {% if page_navigation.cart | length %}
        <a class="navigation__item navigation__icon-item" href="{{page_navigation.cart.url}}"><img class="image-links__svg" src="{{page_navigation.cart.image}}"  alt="Cart" title="Finish your Purchase"></a>
      {% endif%}
      {% if page_de %}
        <a href="{{page_de}}" class="navigation__item navigation__icon-item"><img src="/images/navigation/german.gif" alt="click here to switch to german version" width="20" height="12" ></a>
      {% endif %}
    </div>
  </div>
</nav>