{% from "../../macros/dived-link-item-list.njk" import divedLinkItemList %}
<nav class="navigation">
  {{ divedLinkItemList(page_navigation.en, "navigation__item", "navigation__item--active", page_active_navigation) }}
  {% if page_de %}
    <div class="navigation__language-item">
      <a href="{{page_de}}"><img src="/images/navigation/german.gif" alt="click here to switch to german version" width="20" height="12"/></a>
    </div>
  {% endif %}
</nav>