mibreitCookieConsentBar({german: false, mainMessage: '<p>This website uses cookies to provide you with an optimal user experience. Further information can be found in our <a href="{{page_cookie_consent.en.privacy_url}}#google_analytics">Privacy Policy</a>.</p>', consentConfig: [{label: 'Basic Cookies', cookieName: 'basic'}]});
