mibreitCookieConsent({'mainMessage': 'This website uses cookies. By using this website you consent to our use of these cookies. For more information visit our <a href="{{page_cookie_consent.en.privacy_url}}">Privacy Policy</a>.', 'acceptButton': 'Got It!', expirationDays: 20, cookieName: 'cookieConsent'});
