.flexiblecontent {
  display: flex;
  flex-direction: row;
}
.flexiblesidebar {
  display: flex;
  flex-direction: column;
}
.content .image-desc {
  margin-top: 0.125rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: #e6e5e4;
}
.content img.wp-smiley {
  float: none;
  border: none;
  padding: 0;
  margin: 0;
}
.content img.wp-wink {
  float: none;
  border: none;
  padding: 0;
  margin: 0;
}
#sidebar h4 {
  font-size: 1.4rem;
  padding-left: 0.5rem;
}
#sidebar p {
  padding-top: 0.5em;
  padding-left: 0.8rem;
  font-size: 1.3rem;
}
#sidebar ul {
  font-size: 1.3rem;
  padding-left: 0.8rem;
}
#sidebar .affiliate {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
#sidebar .imglinks-horizontal {
  justify-content: flex-start;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
#sidebar #searchform {
  margin: 0;
  margin-left: 0.5rem;
  overflow: hidden;
}
#sidebar #s {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  width: 100%;
  border: none;
  color: #1c2124;
  background-color: #a5bac7;
}
.content-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-navigation__link {
  max-width: 8rem;
  width: 100%;
  color: #7f8f99;
  line-height: 1;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}
.verticalImageElement {
  display: block;
  margin: 0.125rem auto auto;
  padding: 0;
}
@media (min-width: 801px) {
  #sidebar h4 {
    font-size: 1.25rem;
  }
  #sidebar p {
    font-size: 1.2rem;
  }
  #sidebar ul {
    font-size: 1.2rem;
  }
}
