{#
# All macros in this file are designed to work with the mibreit-gallery-ts javascript gallery. They
# can be used to create php markup for loading images from an accompanying gallery.xml file
# which must be loaced in the same folder as the page that uses these macros.
#
# @attention All macros below only work in php layouts
#}

{# Must be called before any of the other macros, usually at top of page #}
{% macro prepare(baseUrl) %}
  <?php
    require $_SERVER['DOCUMENT_ROOT'] . '/scripts/mibreit-gallery/mibreit-gallery.php';
    $mibreitGallery = new MibreitGalleryData('gallery.xml');
    $mibreitGalleryPageData = new MibreitGalleryPageData("{{baseUrl}}", $mibreitGallery->getImages()); 
    $language = $mibreitGalleryPageData->getLanguage();
    $initialImageInfo = $mibreitGalleryPageData->getInitialImageInfo();
    $page_image = $initialImageInfo["url"];
    $page_image_width = $initialImageInfo["width"];
    $page_image_height = $initialImageInfo["height"];
  ?>
{% endmacro %}

{#
# Inserts Slideshow into markup
#
# @param de - (optional) If given, german version is generated 
# @param zoom - (optional) set to true to enable zoom effect
# @param srcset - (optional) an array of two values giving the size of an image used on desktop, and an image used on mobile 
# @param nrRandomImages - (optional) number of images used for slideshow - smaller than total number of images
#
# @attention - requires call to prepare() beforehand
#}
{% macro slideshow(de, zoom, srcset, nrRandomImages) %}
  <mbg-slideshow loaderWindowLeft="0" loaderWindowRight="1" expand {% if zoom %}zoom{% endif %} >
    <mbg-images>
    <?php
      {% if srcset %}
      $srcset = array("image" => {{srcset[0]}}, "medium" => {{srcset[1]}});
      {% else %}
      $srcset = NULL;
      {% endif %}

      {% if nrRandomImages %}
      $images = $mibreitGallery->getRandomImages({{nrRandomImages}});
      {% else %}
      $images = $mibreitGallery->getImages();
      {% endif %}

      $nrImages = count($images);
      for ($i = 0; $i < $nrImages; $i++)
      {
        $image = $images[$i];     
        getFigureMarkup($image, {% if de %}"de"{% else %}"en"{%endif%}, $srcset );
        echo "\n";
      }
    ?>
    </mbg-images>
  </mbg-slideshow>
{% endmacro %}

{#
# Inserts Gallery into markup
#
# @param de - (optional) If given, german version is generated 
# @param srcset - (optional) an array of two values giving the size of an image used on desktop, and an image used on mobile
#
# @attention requires call to prepare() beforehand
#}
{% macro gallery(de, srcset) %}
  <?php echo "<mbg-gallery loaderWindowRight=\"5\" loaderWindowLeft=\"0\" numberOfVisibleThumbs=\"6\" initialImageNr=\"" . $mibreitGalleryPageData->getInitialImageNr() . "\" >\n"; ?>
    <mbg-images>
    <?php
    {% if srcset %}
    $srcset = array("image" => {{srcset[0]}}, "medium" => {{srcset[1]}});
    {% else %}
    $srcset = NULL;
    {% endif %}
    $images = $mibreitGallery->getImages();
    $nrImages = count($images);
    for ($i = 0; $i < $nrImages; $i++)
    {
      $image = $images[$i];
      getFigureMarkup($image, {% if de %}"de"{% else %}"en"{%endif%}, $srcset ); 
      echo "\n";
    }
    ?>
    </mbg-images>
    <mbg-thumbs>
    <?php
    for ($i = 0; $i < $nrImages; $i++)
    {
      $image = $images[$i];
      getThumbMarkup($image);   
      echo "\n";
    }
    ?>
    </mbg-thumbs>
    {% if de %}
    <h2><mbg-title><?php echo $mibreitGallery->getInfoDe()->header_h1; ?></mbg-title></h2>
    {% else %}
    <h2><mbg-title><?php echo $mibreitGallery->getInfoEn()->header_h1; ?></mbg-title></h2>
    {% endif %}
  </mbg-gallery>
{% endmacro %}

{#
# Inserts gallery info
#
# @param de - (optional) If given, german version is generated 
#
# @attention requires call to prepare() beforehand
#}
{% macro galleryInfo(de) %}
  {% if de %}
    <?php if (!empty($mibreitGallery->getInfoDe()->content)) { ?>
    <h2>Galerie Information</h2>
    <p><?php echo str_replace('\n', '</p><p>', $mibreitGallery->getInfoDe()->content); ?></p>
    <?php } ?>
  {% else %}
    <?php if (!empty($mibreitGallery->getInfoEn()->content)) { ?>
    <h2>Gallery Info</h2>
    <p><?php echo str_replace('\n', '</p><p>', $mibreitGallery->getInfoEn()->content); ?></p>
    <?php } ?>
  {% endif %}
{% endmacro %}

{# 
# Only add the script import - use of Gallery as Web Component possible
#}
{% macro scriptOnly() %}
  <script src="/scripts/mibreit-gallery/mibreit-gallery.min.js"></script>
{% endmacro %}

{#
# inserts script for gallery
#}
{% macro scriptGallery(with_prints) %}
  <script src="/scripts/mibreit-gallery/mibreit-gallery.min.js"></script>
  <?php
  echo "<script>";
  echo "window.addEventListener('load',function () {\n"; 
  echo "mibreitGallerySetup(window.mbgGalleryObjects[0], \"mbg-images\", \"mbg-thumbs\");\n";
  {% if with_prints %}
  echo "mibreitGalleryPrints(" . json_encode($mibreitGallery->getPrintInfos()) . ", window.mbgGalleryObjects[0].getImageViewer(), " . $mibreitGalleryPageData->getInitialImageNr() . ");\n";
  {% endif %}
  echo "});\n";
  echo "</script>";
  ?>
{% endmacro %}

{#
# inserts script for gallery in Wordpress layouts
#}
{% macro scriptGalleryWP() %}
  <script src="/scripts/mibreit-gallery/mibreit-gallery.min.js"></script>
  <script>
    window.addEventListener('load', function () {
      mibreitGallerySetupWP("article > div > img");
    });
  </script>
{% endmacro %}
