{#
# inserts html for contact form
# @param privacy_form_url - url of privacy form
#}
{% macro mibreitContact(privacy_form_url, email) %}
<form id="contact" class="mibreit-contact" name="mibreit-contact" method="post" autocomplete="off" action="/scripts/mibreit-contact/mibreit-email.php">
  <table>
    <tr>
      <td class="mibreit-contact__left"><label for="myemail">My email:</label></td>
      <td class="mibreit-contact__right">
        <input id="myemail" name="myemail" type="text" disabled="disabled" value="{{email}}" readonly="readonly" class="fluid" >
      </td>
    </tr>
    <tr>
      <td class="mibreit-contact__left"><label for="email">Your email:</label></td>
      <td class="mibreit-contact__right">
        <input id="email" name="email" type="text" class="fluid" spellcheck="false" >
      </td>
    </tr>
    <tr>
      <td class="mibreit-contact__left"><label for="homepage">Your homepage:</label></td>
      <td class="mibreit-contact__right">
        <input id="homepage" name="homepage" type="text" class="fluid" spellcheck="false" >
      </td>
    </tr>
    <tr>
      <td class="mibreit-contact__left"><label for="subject">Subject:</label></td>
      <td class="mibreit-contact__right">
        <input id="subject" name="subject" type="text" class="fluid" spellcheck="false" >
      </td>
    </tr>
    <tr>
      <td class="mibreit-contact__left"><label for="message">Your message:</label></td>
      <td class="mibreit-contact__right">
        <textarea id="message" name="message" rows="10" spellcheck="false"></textarea>
      </td>
    </tr>
    <tr>
      <td class="mibreit-contact__left">
        <input type="checkbox" id="privacy" name="privacy" class="mibreit-contact__checkbox" >
      </td>
      <td class="mibreit-contact__right"><label for="privacy">By using this form, you agree to the storage and processing of your data. More information can be found in the <a href="{{privacy_form_url}}">privacy policy</a>.</label></td>
    </tr>
    <tr>
      <td class="mibreit-contact__left">&nbsp;</td>
      <td class="mibreit-contact__right"><input type="submit" name="submit" value="send" class="mibreit-contact__button" ></td>
    </tr>
  </table>
</form>
<div id="form-reply" class="mibreit-contact__result"></div>
{% endmacro %}