{# 
# inserts slideshow container with php markup 
# @param link_items - list of link items that contain name and url
# @param item_class - css class to be used for link items
# @param item_active_class - css class to be used for active item
# @param link_item_activator - contains name of link item to activate -> case sensitive (optional)
#}
{% macro divedLinkItemList(link_items, item_class, item_active_class, link_item_activator) %}
  {% for item in link_items %}
    {% if link_item_activator and link_item_activator == item.name %}
      <a href="{{item.url}}" class="{{item_active_class}} {{item_class}}">{{item.name}}</a>
    {% else %}
      <a href="{{item.url}}" class="{{item_class}}">{{item.name}}</a>
    {% endif %}
  {% endfor %}
{% endmacro %}