{% from "./insert-spaces.njk" import insertSpaces %}

{# 
# inserts slideshow container with php markup 
# @param link_items - list of link items that contain name and url
# @param nr_of_spaces - number of spaces to put before and after spacer -> 2*nr_of_spaces + spacer between link_items
# @param spacer - spacer character (optional)
#}
{% macro linkItemList(link_items, external, item_class, nr_of_spaces, spacer) %}
  {% for item in link_items %}
    {% if loop.first -%}
      <a {% if item_class | length %}class="{{item_class}}"{% endif %} href="{{item.url}}" {% if external %}target="_blank"{% endif %}>{{item.name}}</a><span>{{insertSpaces(nr_of_spaces)}}</span>{{spacer}}
    {%- elif loop.last -%}
      <span>{{insertSpaces(nr_of_spaces)}}</span>
      <a {% if item_class | length %}class="{{item_class}}"{% endif %} href="{{item.url}}" {% if external %}target="_blank"{% endif %}>{{item.name}}</a>
    {%- else -%}<span>{{insertSpaces(nr_of_spaces)}}</span>
      <a {% if item_class | length %}class="{{item_class}}"{% endif %} href="{{item.url}}" {% if external %}target="_blank"{% endif %}>{{item.name}}</a><span>{{insertSpaces(nr_of_spaces)}}</span>{{spacer}}
    {%- endif %}
  {% endfor %}
{% endmacro %}