{#
# All macros in this file are designed to work with mibreit-gallery javascript gallery. They
# can be used to create php Markup for loading images from an accompanying gallery.xml files,
# which must be loaced in the same folder as the page that uses these macros.
#
# @attention All macros below only work in php layouts
#
# Example for gallery.xml

  <?xml version="1.0" encoding="UTF-8"?>
  <MibreitGallery imagePath="path to large images" thumbPath="path to thumbnails">
  <infoEn keywords="landscape photos" description="great landscape photos">
    <header_h1>Some header for the gallery pages</header_h1>
    <header_h2>Some other header for the gallery pages</header_h2>
    <content_title>Some title for the gallery pages</content_title>
  </infoEn>
  <infoDe .... same as for en, just german </infoDe>
  <images>
    <image>
    <filename>some-image.jpg</filename>
    <caption>title</caption>
    <alt>alt description</alt>
    <altDe>german alt description</altDe>
    </image>
  </images>
  </MibreitGallery>

#}

{# prepares data for slideshow, gallery, imageTitle and thumbview macros #}
{% macro prepare() %}
  <?php
    require $_SERVER['DOCUMENT_ROOT'] . '/scripts/mibreit-gallery/mibreit-gallery.php';
    require $_SERVER['DOCUMENT_ROOT'] . '/scripts/mibreit-gallery/mibreit-gallery-helpers.php';
    $mibreitGallery = new MibreitGalleryDataParser('gallery.xml');
    $mibreitGalleryPageData = new MibreitGalleryPageData();    
    $imageNr = 0;
    if (isset($_GET['imageNr'])) 
    {
      $imageNr = $_GET['imageNr'];
    }
  ?>
{% endmacro %}

{#
# inserts slideshow container with php markup
# @param container - class name for container
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() beforehand
#}
{% macro slideshow(container, de) %}
  <div class="{{container}}">
    <?php
    $images = $mibreitGallery->getImages();
    $nrImages = count($images);
    for ($i = 0; $i < 10 and $i < $nrImages; $i++)
    {
        $r = rand(0, $nrImages - 1);
        $image = $images[$r];
        {{_image("image", de)}}
        array_splice($images, $r, 1);
        $nrImages--;
    }
  ?>
  </div>
{% endmacro %}

{#
# inserts gallery container with php markup
# @param container - class name for container
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() beforehand
#}
{% macro gallery(container, de) %}
  <div class="{{container}}">
    <?php
    foreach ($mibreitGallery->getImages() as $image)
    {
      {{_image("image", de)}}
    }
  ?>
  </div>
{% endmacro %}

{# private macro that should only be used internally within a php tag to create the image marcup #}
{% macro _image(item, de) %}
  $size = getimagesize(${{item}}->imageUrl);  
  echo "<img src=\"/images/image-placeholder-transparent.png\" style=\"position: absolute;\" ";
  echo "data-src=\"" . ${{item}}->imageUrl . "\" ";
  echo "title=\""    . ${{item}}->caption  . "\" ";
  echo "alt=\""      . {% if de %}${{item}}->altDe{% else %}${{item}}->altEn{% endif %} . "\" ";
  echo "width=\""    . $size[0]         ."\" ";
  echo "height=\""   . $size[1]         ."\"/>\n";  
{% endmacro %}

{#
# inserts thumbview container with php markup
# @param container - class name for container
# @attention requires call to prepare() beforehand
#}
{% macro thumbview(container) %}
  <div class="{{container}}">
    <?php
    foreach ($mibreitGallery->getImages() as $image)
    {
      $size = getimagesize($image->thumbUrl);      
      echo "<img src=\"/images/image-placeholder-transparent.png\" style=\"position: absolute;\" data-src=\"" . $image->thumbUrl . "\" ";
      echo "width=\"". $size[0] ."\" height=\"". $size[1] . "\" alt=\"thumbnail\"/>\n";      
    }
  ?>
  </div>
{% endmacro %}

{#
# inserts title container with php markup
# @param class_name - class that is applied to title
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() beforehand
#}
{% macro imageTitle(class_name, de) %}
  {% if de %}
    <h2 class="{{class_name}}"><?php echo $mibreitGallery->getInfoDe()->header_h1; ?></h2>
    <?php if (!empty($mibreitGallery->getInfoDe()->content)) { ?>
    <p><?php echo $mibreitGallery->getInfoDe()->content; ?></p>
    <?php } ?>
  {% else %}
    <h2 class="{{class_name}}"><?php echo $mibreitGallery->getInfoEn()->header_h1; ?></h2>
    <?php if (!empty($mibreitGallery->getInfoEn()->content)) { ?>
    <p><?php echo $mibreitGallery->getInfoEn()->content; ?></p>
    <?php } ?>
  {% endif %}
{% endmacro %}

{#
# inserts script for slideshow
# @param container - class or id name for container of slideshow -> starting with a . or #
# @param omit_script_include - it is possible to place multiple slideshows on one page. If you do so, you only need the slideshow include once. Use this flag whenever you want to omit the inclusion of the script. Typically you will just include it in your first call to this macro
# @param scale_mode - if provided will be applied to all images (SCALE_MODE_STRETCH(default), SCALE_MODE_FITASPECT, SCALE_MODE_NONE, SCALE_MODE_EXPAND)
# @param zoom - if provided and set to value != 100, zoom animation will be applied
#}
{% macro scriptSlideshow(container, omit_script_include, stretch, zoom) %}
  {% if not omit_script_include %}
    <script src="/scripts/mibreit-gallery/mibreitGalleryTs.min.js"></script>
  {% endif %}
  <script>
    mibreitGalleryTs.DomTools.documentReady(function () {
      mibreitGalleryTs.DomTools.addCssStyle(mibreitGalleryTs.DomTools.getElement("{{container}}"), "opacity", "1");  
      mibreitGalleryTs.createSlideshow({imageSelector: "{{container}} > img", scaleMode:{% if stretch %}mibreitGalleryTs.EImageScaleMode.STRETCH{% else %}mibreitGalleryTs.EImageScaleMode.FIT_ASPECT{% endif %}, interval : 4000{% if zoom %}, zoom : {{zoom}}{% endif %}}); 
    });
  </script>
{% endmacro %}

{#
# inserts script for gallery
# @param container - class or id name for container of slideshow -> starting with a . or #
# @param thumb_container - class or id name for thumbview container of slideshow -> starting with a . or #
# @param title_class_name - class name for title -> starting with a .
# @param gallery_var_name - the global javascript variable name used for the gallery
#}
{% macro scriptGallery(container, thumb_container, title_class_name, gallery_var_name) %}
  <script src="/scripts/mibreit-gallery/mibreitGalleryTs.min.js"></script>
  <script>
    {% if gallery_var_name %}
      var {{gallery_var_name}};
    {% else %}
      var mibreitGalleryInstance;
    {% endif %}
    mibreitGalleryTs.DomTools.documentReady(function () { 
      mibreitGalleryTs.DomTools.addCssStyle(mibreitGalleryTs.DomTools.getElement("{{container}}"), "opacity", "1");
      mibreitGalleryTs.DomTools.addCssStyle(mibreitGalleryTs.DomTools.getElement("{{thumb_container}}"), "opacity", "1");
      var gallery = mibreitGalleryTs.createGallery({slideshowContainerSelector: "{{container}}", imageSelector: "{{container}} > img", scaleMode: mibreitGalleryTs.EImageScaleMode.FIT_ASPECT, thumbContainerSelector: "{{thumb_container}}", thumbSelector: "{{thumb_container}} > img", numberOfVisibleThumbs: 7});
      var titleElement = mibreitGalleryTs.DomTools.getElement("{{title_class_name}}");
      var viewer = gallery.getViewer();
      mibreitGalleryTs.DomTools.setInnerHtml(titleElement, viewer.getImageInfo(viewer.getImageIndex()).getTitle());
      viewer.addImageChangedCallback((index, imageInfo) => {
        mibreitGalleryTs.DomTools.setInnerHtml(titleElement, imageInfo.getTitle());
      });
      mibreitGalleryHistory(gallery);
      {% if gallery_var_name %}
      {{gallery_var_name}} = gallery;
      {% else %}
      mibreitGalleryInstance = gallery;
      {% endif %} 
    });
  </script>
{% endmacro %}

{#
# inserts script for gallery
#}
{% macro scriptGalleryWP() %}
  <script src="/scripts/mibreit-gallery/mibreitGalleryTs.min.js"></script>
  <script>    
    var imageSelector = "article > div > img";
    mibreitGalleryTs.DomTools.documentReady(function () { 
      var gallery = mibreitGalleryTs.createFullscreenOnlyGallery({imageSelector, scaleMode: mibreitGalleryTs.EImageScaleMode.FIT_ASPECT, preloaderBeforeSize: 0, preloaderAfterSize: 1});           
      var images = mibreitGalleryTs.DomTools.getElements(imageSelector);
      images.forEach( function(image, index) {      
        mibreitGalleryTs.DomTools.addCssStyle(image, "cursor", "pointer");    
        image.addEventListener('click', function (e) {
          if (!gallery.getFullscreen().isFullscreenActive())
          {
            gallery.getViewer().showImage(index);
            gallery.getFullscreen().activate();                          
          }          
        });
      });
    });   
  </script>
{% endmacro %}

{#
# inserts prints script
# @attention requires call to prepare() beforehand
#}
{% macro scriptImagePrints(gallery) %}
  <?php
  echo "<script>\n";
  echo "mibreitGalleryTs.DomTools.documentReady(function () {\n";
  echo "{{gallery}}.getViewer().addImageChangedCallback(mibreitImagePrints(" . json_encode($mibreitGallery->getPrintInfos()) . ", {{gallery}}.getViewer()))";
  echo "});\n";
  echo "</script>\n";
  ?>
{% endmacro %}