{#
# All macros in this file are designed to work with the mibreit-gallery-ts javascript gallery. They
# can be used to create php markup for loading images from an accompanying gallery.xml file
# which must be loaced in the same folder as the page that uses these macros.
#
# @attention All macros below only work in php layouts
#
# Example for gallery.xml

  <?xml version="1.0" encoding="UTF-8"?>
  <MibreitGallery imagePath="path to large images" thumbPath="path to thumbnails">
  <infoEn keywords="landscape photos" description="great landscape photos">
    <header_h1>Some header for the gallery pages</header_h1>
    <header_h2>Some other header for the gallery pages</header_h2>
    <content_title>Some title for the gallery pages</content_title>
  </infoEn>
  <infoDe .... same as for en, just german </infoDe>
  <images>
    <image>
    <filename>some-image.jpg</filename>
    <caption>title</caption>
    <alt>alt description</alt>
    <altDe>german alt description</altDe>
    </image>
  </images>
  </MibreitGallery>

#}

{# prepares has to be called before any of the other macros #}
{% macro prepare(baseUrl) %}
  <?php
    $language = "en";
    if (isset($_GET['lan'])) 
    {
      $language = $_GET['lan'];
      if (strlen($language) > 2)
      {
        header('Location: {{baseUrl}}/errors/error400.html');
        exit();
      }
    }
    $imageNr = 0;
    if (isset($_GET['imageNr'])) 
    {
      $imageNr = $_GET['imageNr'];
      if (strlen($imageNr) > 2)
      {
        header('Location: {{baseUrl}}/errors/error400.html');
        exit();
      }
    }

    require $_SERVER['DOCUMENT_ROOT'] . '/scripts/mibreit-gallery/mibreit-gallery.php';
    require $_SERVER['DOCUMENT_ROOT'] . '/scripts/mibreit-gallery/mibreit-gallery-helpers.php';
    $mibreitGallery = new MibreitGalleryDataParser('gallery.xml');
    $mibreitGalleryPageData = new MibreitGalleryPageData();    
    $page_image = $mibreitGalleryPageData->getBasePath() . $mibreitGallery->getImage($imageNr)->imageUrl;
  ?>
{% endmacro %}

{#
# Create an array of images from the image set in random order.
# The array is then called $randomImages.
#}
{% macro randomImages(number) %}
  <?php
    $randomImages = $mibreitGallery->getRandomImages(8);
  ?>
{% endmacro %}

{#
# inserts slideshow container with php markup
# @param container - class name for container
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() beforehand
#}
{% macro slideshow(container, de) %}
  <div class="{{container}}">
  <?php
    $images = [];
    if (isset($randomImages))
    {
      $images = $randomImages;
    }
    else
    {
      $images =  $mibreitGallery->getImages(); 
    }
    $nrImages = count($images);
    for ($i = 0; $i < $nrImages; $i++)
    {
      $image = $images[$i];     
      {{_figure("image", de)}}
    }
  ?>
  </div>
{% endmacro %}

{#
# inserts gallery container with php markup
# @param container - class name for container
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() beforehand
#}
{% macro gallery(container, de) %}
  <div class="{{container}}">
    <?php
    $nrImages = $mibreitGallery->getNumberImages();
    for ($i = 0; $i < $nrImages; $i++)
    {
      $image = $mibreitGallery->getImage($i);
      {{_figure("image", de)}}
    }
  ?>
  </div>
{% endmacro %}

{# private macro that should only be used internally within a php tag to create the figure markup #}
{% macro _figure(item, de) %}
  $size = getimagesize(${{item}}->imageUrl); 
  echo "<figure>"; 
  {{_image(item, de, false)}}
  {{_image(item, de, true)}}
  if (${{item}}->altEn != ${{item}}->caption)
  {
    echo "<figcaption><p>{% if de %}${{item}}->altDe{% else %}${{item}}->altEn{% endif %}</p></figcaption>"; 
  }
  echo "</figure>\n";
{% endmacro %}

{# private macro that should only be used internally within a php tag to create the image markup #}
{% macro _image(item, de, no_script) %}
  {% if no_script %}
    echo "<noscript><img src=\"" . ${{item}}->imageUrl . "\" style=\"position: absolute;\" ";
  {% else %}
    echo "<img src=\"/images/image-placeholder-transparent.png\" style=\"position: absolute;\" ";
    echo "data-src=\"" . ${{item}}->imageUrl . "\" ";
  {% endif %}
  echo "title=\""    . ${{item}}->caption  . "\" ";
  {% if not no_script %}
    echo "alt=\""      . {% if de %}${{item}}->altDe{% else %}${{item}}->altEn{% endif %} . "\" ";
  {% endif %}
  echo "width=\""    . $size[0]         ."\" ";
  echo "height=\""   . $size[1]         ."\" >"; 
  {% if no_script %}
  echo "</noscript>";
  {% endif %}
{% endmacro %}

{#
# inserts thumbview container with php markup
# @param container - class name for container
# @attention requires call to prepare() beforehand
#}
{% macro thumbview(container) %}
  <div class="{{container}}">
    <?php
    foreach ($mibreitGallery->getImages() as $image)
    {
      $size = getimagesize($image->thumbUrl);      
      echo "<img src=\"/images/image-placeholder-transparent.png\" style=\"position: absolute;\" data-src=\"" . $image->thumbUrl . "\" ";
      echo "width=\"". $size[0] ."\" height=\"". $size[1] . "\" alt=\"thumbnail\" >\n";      
    }
  ?>
  </div>
{% endmacro %}

{#
# inserts title container with php markup
# @param class_name - class that is applied to title
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() beforehand
#}
{% macro imageTitle(class_name, de) %}
  {% if de %}
    <h2 class="{{class_name}}"><?php echo $mibreitGallery->getInfoDe()->header_h1; ?></h2>
  {% else %}
    <h2 class="{{class_name}}"><?php echo $mibreitGallery->getInfoEn()->header_h1; ?></h2>
  {% endif %}
{% endmacro %}

{#
# inserts gallery info
# @param de - if given, german version is generated (optional)
# @attention requires call to prepare() beforehand
#}
{% macro galleryInfo(de) %}
  {% if de %}
    <?php if (!empty($mibreitGallery->getInfoDe()->content)) { ?>
    <h2>Galerie Information</h2>
    <p><?php echo str_replace('\n', '</p><p>', $mibreitGallery->getInfoDe()->content); ?></p>
    <?php } ?>
  {% else %}
    <?php if (!empty($mibreitGallery->getInfoEn()->content)) { ?>
    <h2>Gallery Info</h2>
    <p><?php echo str_replace('\n', '</p><p>', $mibreitGallery->getInfoEn()->content); ?></p>
    <?php } ?>
  {% endif %}
{% endmacro %}

{#
# inserts script for slideshow
# @param container - class or id name for container of slideshow -> starting with a . or #
# @param omit_script_include - it is possible to place multiple slideshows on one page. If you do so, you only need the slideshow include once. Use this flag whenever you want to omit the inclusion of the script. Typically you will just include it in your first call to this macro
# @param stretch - if true scale mode STRETCH will be applied to images, if false FITASPECT
# @param zoom - if provided and set to value != 100, zoom animation will be applied
#}
{% macro scriptSlideshow(container, omit_script_include, stretch, zoom) %}
  {% if not omit_script_include %}
    <script src="/scripts/mibreit-gallery/mibreitGalleryTs.min.js"></script>
  {% endif %}
  <script>
    mibreitGalleryTs.DomTools.documentReady(function () {
      mibreitGalleryTs.DomTools.addCssStyle(mibreitGalleryTs.DomTools.getElement("{{container}}"), "opacity", "1");  
      mibreitGalleryTs.createSlideshow({imageSelector: "{{container}} img", scaleMode:{% if stretch %}mibreitGalleryTs.EImageScaleMode.STRETCH{% else %}mibreitGalleryTs.EImageScaleMode.FIT_ASPECT{% endif %}, interval : 4000{% if zoom %}, zoom : {{zoom}}{% endif %}}); 
    });
  </script>
{% endmacro %}

{#
# inserts script for simple gallery without title and thumbs
# @param container - class or id name for container of slideshow -> starting with a . or #
# @param gallery_var_name - the global javascript variable name used for the gallery
#}
{% macro scriptSimpleGallery(container, gallery_var_name) %}
  <script src="/scripts/mibreit-gallery/mibreitGalleryTs.min.js"></script>
  <script>
    {% if gallery_var_name %}
      var {{gallery_var_name}};
    {% else %}
      var mibreitGalleryInstance;
    {% endif %}
    mibreitGalleryTs.DomTools.documentReady(function () { 
      mibreitGalleryTs.DomTools.addCssStyle(mibreitGalleryTs.DomTools.getElement("{{container}}"), "opacity", "1");
      var gallery = mibreitGalleryTs.createGallery({slideshowContainerSelector: "{{container}}", imageSelector: "{{container}} img", scaleMode: mibreitGalleryTs.EImageScaleMode.FIT_ASPECT, numberOfVisibleThumbs: 7});
      mibreitGalleryHistory(gallery);
      mibreitGalleryBackgroundColor(gallery);
      {% if gallery_var_name %}
      {{gallery_var_name}} = gallery;
      {% else %}
      mibreitGalleryInstance = gallery;
      {% endif %} 
    });
  </script>
{% endmacro %}

{#
# inserts script for gallery
# @param container - class or id name for container of slideshow -> starting with a . or #
# @param thumb_container - class or id name for thumbview container of slideshow -> starting with a . or #
# @param title_class_name - class name for title -> starting with a .
# @param gallery_var_name - the global javascript variable name used for the gallery
#}
{% macro scriptGallery(container, thumb_container, title_class_name, gallery_var_name) %}
  <script src="/scripts/mibreit-gallery/mibreitGalleryTs.min.js"></script>
  <script>
    {% if gallery_var_name %}
      var {{gallery_var_name}};
    {% else %}
      var mibreitGalleryInstance;
    {% endif %}
    mibreitGalleryTs.DomTools.documentReady(function () { 
      mibreitGalleryTs.DomTools.addCssStyle(mibreitGalleryTs.DomTools.getElement("{{container}}"), "opacity", "1");
      mibreitGalleryTs.DomTools.addCssStyle(mibreitGalleryTs.DomTools.getElement("{{thumb_container}}"), "opacity", "1");
      var gallery = mibreitGalleryTs.createGallery({slideshowContainerSelector: "{{container}}", imageSelector: "{{container}} img", scaleMode: mibreitGalleryTs.EImageScaleMode.FIT_ASPECT, thumbContainerSelector: "{{thumb_container}}", thumbSelector: "{{thumb_container}} > img", numberOfVisibleThumbs: 7});
      var titleElement = mibreitGalleryTs.DomTools.getElement("{{title_class_name}}");
      var viewer = gallery.getViewer();
      mibreitGalleryTs.DomTools.setInnerHtml(titleElement, viewer.getImageInfo(viewer.getImageIndex()).getTitle());
      viewer.addImageChangedCallback((index, imageInfo) => {
        mibreitGalleryTs.DomTools.setInnerHtml(titleElement, imageInfo.getTitle());
      });
      mibreitGalleryCaption(gallery, mibreitGalleryTs.DomTools.getElement("{{container}}"), mibreitGalleryTs.DomTools.getElements("{{container}} figcaption"));
      mibreitGalleryHistory(gallery);
      mibreitGalleryBackgroundColor(gallery);
      {% if gallery_var_name %}
      {{gallery_var_name}} = gallery;
      {% else %}
      mibreitGalleryInstance = gallery;
      {% endif %} 
    });
  </script>
{% endmacro %}

{#
# inserts script for gallery in Wordpress layouts
#}
{% macro scriptGalleryWP() %}
  <script src="/scripts/mibreit-gallery/mibreitGalleryTs.min.js"></script>
  <script>    
    var imageSelector = "article > div > img";
    mibreitGalleryTs.DomTools.documentReady(function () { 
      var gallery = mibreitGalleryTs.createFullscreenOnlyGallery({imageSelector, scaleMode: mibreitGalleryTs.EImageScaleMode.FIT_ASPECT, preloaderBeforeSize: 0, preloaderAfterSize: 1});           
      var images = mibreitGalleryTs.DomTools.getElements(imageSelector);
      mibreitGalleryBackgroundColor(gallery);
      images.forEach( function(image, index) {      
        mibreitGalleryTs.DomTools.addCssStyle(image, "cursor", "pointer");    
        image.addEventListener('click', function (e) {
          if (!gallery.getFullscreen().isFullscreenActive())
          {
            gallery.getViewer().showImage(index);
            gallery.getFullscreen().activate();                          
          }          
        });
      });
    });   
  </script>
{% endmacro %}

{#
# inserts prints script
# @attention requires call to prepare() beforehand
#}
{% macro scriptImagePrints(gallery) %}
  <?php
  echo "<script>\n";
  echo "mibreitGalleryTs.DomTools.documentReady(function () {\n";
  echo "{{gallery}}.getViewer().addImageChangedCallback(mibreitImagePrints(" . json_encode($mibreitGallery->getPrintInfos()) . ", {{gallery}}.getViewer(), " . $imageNr . "))";
  echo "});\n";
  echo "</script>\n";
  ?>
{% endmacro %}