{% macro scriptLazyScroller(item_selector, useSurrogate) %}
<script>
  window.addEventListener('load', function () {
    mibreitLazyLoader.createLazyLoader("{{item_selector}}", {
      mode: mibreitLazyLoader.ELazyMode.WINDOWED_SCROLL,
      useSurrogate: {% if useSurrogate %}{{useSurrogate}}{% else %}false{% endif %}
    });
  });
</script>
{% endmacro %}