{# 
# inserts social media share links that are provided
# @param social_media - link objects for social media
# @param essential - if provided, only subset of essential links will be used -> if less space is available
#}
{% macro socialMediaShare(social_media, essential, share_url, share_description, share_image) %}
  <div class="social-media">
    {% if essential %}
      {% for item_name, item_content in social_media %}
        {% if item_name == "facebook" and item_content.essential %}
          <a class="social-media__share-link" href="{{item_content.url}}?u={{share_url}}" target="_blank"><img class="social-media__image" src="/images/social-media-share/facebook-share.png" alt="share on {{item_name}}" width="80" height="33"/></a>
        {% elif item_name == "twitter" and item_content.essential %}
          <a class="social-media__share-link" href="{{item_content.url}}?url={{share_url}}&amp;text={{share_description}}" target="_blank"><img class="social-media__image" src="{{item_content.image}}" title="{{item_name}}" alt="share on {{item_name}}" width="80" height="33"/></a>
        {% elif item_name == "pinterest" and item_content.essential %}
          <a class="social-media__share-link" href="{{item_content.url}}?url={{share_url}}&amp;media={{share_image}}&amp;description={{share_description}}" target="_blank"><img class="social-media__image" src="{{item_content.image}}" title="{{item_name}}" alt="share on {{item_name}}" width="80" height="33"/></a>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for item_name, item_content in social_media %}
        {% if item_name == "facebook" %}
          <a class="social-media__share-link" href="{{item_content.url}}?u={{share_url}}" target="_blank"><img class="social-media__image" src="/images/social-media-share/facebook-share.png" alt="share on {{item_name}}" width="80" height="33"&></a>
        {% elif item_name == "twitter" %}
          <a class="social-media__share-link" href="{{item_content.url}}?url={{share_url}}&amp;text={{share_description}}" target="_blank"><img class="social-media__image" src="{{item_content.image}}" title="{{item_name}}" alt="share on {{item_name}}" width="80" height="33"/></a>
        {% elif item_name == "pinterest" %}
          <a class="social-media__share-link" href="{{item_content.url}}?url={{share_url}}&amp;media={{share_image}}&amp;description={{share_description}}" target="_blank"><img class="social-media__image" src="{{item_content.image}}" title="{{item_name}}" alt="share on {{item_name}}" width="80" height="33"/></a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}